
@section catalogue {
    <link href="@Url.Content("~/css/catalogue.css")" rel="stylesheet" type="text/css" />
}


<div class="container">
    <h2 id="catTitle">PRODUCTS</h2>
        <div class="space row">
            <div class="col-md-3">
                <div class="form-group">
                    <input name="" class="form-control" type="search" placeholder="Search">
                </div>               
                <h5 id="cat">Categories</h5> 
                <p id="catp">Sauce</p>
                <p id="catp">Oil</p>
                <p id="catp">Soap</p>
                <p id="catp">Wine</p>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-8 col-sm-10">
                        <p id="catp"> Showing  1-12  of  12  Results</p>
                    </div>
                    <div class="col-lg-4 col-sm-10">
                        <div class="form-group">
                            <select name="" class="form-control"></select>
                        </div>
                    </div>                    
                </div>                
                <div class="row justify-content-center" id="catproducts">
                    <div class="col-lg-4 col">
                        <div class="catitem card">
                            <img class="card-img-top" src="~/images/chili.png" alt="Card image cap">               
                              <p class="catitem">Chili Sauce</p>
                              <p class="catprice">R 34.99</p>
                              <a asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                          </div>
                    </div>
                    <div class="col-lg-4 col">
                        <div class="catitem card">
                            <img class="card-img-top" src="~/images/olive.png" alt="Card image cap">
                            <p class="catitem">Cold Pressed Pure Olive Oil</p>
                            <p class="catprice">R 79.99</p>
                            <a asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col">
                        <div class="catitem card">
                            <img class="card-img-top" src="~/images/honey.png" alt="Card image cap">
                            <p class="catitem">Pure Farm Honey</p>
                            <p class="catprice">R 74.99</p>
                            <a asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" id="catproducts">
                    <div class="col-lg-4 col">
                        <div class="catitem card">
                            <img class="card-img-top" src="~/images/chili.png" alt="Card image cap">               
                              <p class="catitem">Chili Sauce</p>
                              <p class="catprice">R 34.99</p>
                              <a asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                          </div>
                    </div>
                    <div class="col-lg-4 col">
                        <div class="catitem card">
                            <img class="card-img-top" src="~/images/olive.png" alt="Card image cap">
                            <p class="catitem">Cold Pressed Pure Olive Oil</p>
                            <p class="catprice">R 79.99</p>
                            <a asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col">
                        <div class="catitem card">
                            <img class="card-img-top" src="~/images/honey.png" alt="Card image cap">
                            <p class="catitem">Pure Farm Honey</p>
                            <p class="catprice">R 74.99</p>
                            <a asp-area="" asp-controller="ProductCatalogue" asp-action="Item" class="btn btn-primary btn-block" id="prodbtn"><i class="bi bi-cart2"></i>&nbsp;Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>             
        </div>
</div>
  

