@model NatuurlikBase.ViewModels.CountryVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Country.Id" hidden />


    <div class="col-10">
         <div class="border p-3 mt-4">
        <div class="col-12 pb-2">
            <h2 class="text-primary">@(Model.Country.Id!=0?"Update": "Create") Country Details</h2>
            <hr />
        </div>
      @*  <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Country.CountryName"> Name </label>
            <input asp-for="Country.CountryName" class="form-control" />
            <span asp-validation-for="Country.CountryName" class="text-danger"></span>
        </div>


     
        <div class="container text-end">
         @if(Model.Country.Id != 0)
            {
                <button type="submit" class="btn btn-success" style="width:150px;"> Update </button>
            }
            else
            {
                 <button type="submit" onclick="return ValidateInput()" class="btn btn-success" style="width:150px;"> Create </button>
            }
            <a asp-controller="Country" asp-action="Index" class="btn btn-primary" style="width:150px;"> Back </a>
       
       
        </div>
       

    </div>
   
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
     }
     

    
     <script>
 
    </script>
    }