@model NatuurlikBase.Models.Province

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
  }

<div id="page-content-wrapper">
<div>
        @if(ViewBag.Error==null){
            <div class="card">
           
            <div class="card-header" style="background-color: #F2F2F2">
                <h5>Add Province</h5>
            </div>
            <div class="card-body">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProvinceName" class="control-label"></label>
                <input asp-for="ProvinceName" class="form-control col-md-10" />
                <span asp-validation-for="ProvinceName" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                
                      <label asp-for="CountryId" class="control-label">Country Name</label>
                <select asp-for="CountryId" class ="form-control col-md-10" asp-items="ViewBag.CountryId"></select>
            </div>
           <button type="submit" class="btn btn-success" data-toggle="modal" style="width:150px">Create</button>
		<a asp-controller="Province" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
			Cancel
		</a>
       
           
        </form>
    </div>
</div>
</div>
 }
     </div>

           <div class="modal" id="exampleModal1" data-bs-backdrop="static" data-bs-keyboard="false" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                  

                </div>
                <h6 class="col-md-10">
                   Province Already Exists
                </h6>

                <div class="modal-footer border-0">
                    <div class="form-actions no-color">
                        <input type="button" value="Okay" class="btn btn-outline-dark" data-bs-dismiss="modal" onclick="location.href='@Url.Action("Index", "Province")'"/>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>    

@section Scripts{
	
	 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
      @if (ViewBag.Error != null)
    {
        <script>



            $(function () {
                $("#exampleModal1").modal("show");
            });


        </script>
    
    }
}


