@model NatuurlikBase.Models.Province
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";  
}



<div id="page-content-wrapper">
<form asp-action="Edit">
	
    <div>
        <div class="card">
            <div class="card-header" style="background-color: #F2F2F2">
                <h5>Update Province</h5>
            </div>
            <div class="card-body">
		@*<div asp-validation-summary="All"></div>*@
		     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-10">
                <label asp-for="ProvinceName" class="control-label"></label>
                <input asp-for="ProvinceName" class="form-control" />
                <span asp-validation-for="ProvinceName" class="text-danger"></span>
            </div>
            <br />
            <div class="col-md-10">
                @if(ViewBag.Error==null){
                <label asp-for="CountryId" class="control-label">Country Name</label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
                }
            </div>		
            <br />
		    <div class="col-md-10">
		        <button type="button" class="btn btn-success" style="width:150px;" data-toggle="modal" data-target="#exampleModal" style="width:150px">Update</button>
		        <a asp-controller="Province" asp-action="Index"  class="btn btn-outline-dark" style="width:150px">
			        Cancel
		        </a>
        </div>
	</div>
        </div>
        </div>
    
	 <div class="modal fade" id="exampleModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <h6 class="col-md-10"> 
                       Confirm Province Details
                    </h6>
                    </div>

                    <div class="modal-footer border-0">
                        <div class="form-actions no-color">
                            <input type="submit" value="Confirm" class="btn btn-success" style="width:150px;"/> 
                            <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal" style="width:150px;">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header  border-0">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="b1">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                      <h6 class="col-md-10">
                   Province Already Exist On The Database
                </h6>

                    <div class="modal-footer  border-0">
                        <div class="form-actions no-color">
                            <input type="button" value="Okay" class="btn btn-outline-dark" data-bs-dismiss="modal"onclick="location.href='@Url.Action("Index", "Province")'" />

                        </div>
                    </div>

                </div>
            </div>
        </div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
      @if (ViewBag.Error != null)
    {
        <script>



            $(function () {
                $("#exampleModal1").modal("show");
                $("#b1").modal("hide");
            });


        </script>
    }

    @if (ViewBag.Confirmation != null)
    {
        <script>



            $(function () {
                $("#exampleModal").modal("show");
            });


        </script>
    }
}



  