@model NatuurlikBase.ViewModels.ProvinceVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Province.Id" hidden />


    <div class="col-10">
         <div class="border p-3 mt-4">
        <div class="col-12 pb-2">
            <h2 class="text-primary">@(Model.Province.Id!=0?"Update": "Create") Province Details</h2>
            <hr />
        </div>
      @*  <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Province.ProvinceName"> Name </label>
            <input asp-for="Province.ProvinceName" class="form-control" />
            <span asp-validation-for="Province.ProvinceName" class="text-danger"></span>
        </div>


     

        <div class="mb-3 col-6">
            <label asp-for="Province.CountryId"> Country  </label>
            <select asp-for="Province.CountryId" asp-items="@Model.CountryList" class="form-select">
                <option disabled selected>-- Select a Country --</option>
            </select>
            <span asp-validation-for="Province.CountryId" class="text-danger"></span>
        </div>

     
        <div class="container text-end">
         @if(Model.Province.Id!=0)
            {
                <button type="submit" class="btn btn-success" style="width:150px;"> Update </button>
            }
            else
            {
                 <button type="submit" onclick="return ValidateInput()" class="btn btn-success" style="width:150px;"> Create </button>
            }
            <a asp-controller="Province" asp-action="Index" class="btn btn-primary" style="width:150px;"> Back </a>
       
       
        </div>
       

    </div>
   
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
     }
     

    
     <script>
 
    </script>
    }