@model NatuurlikBase.Models.Province
@{
    ViewData["Title"] = "Delete";
  
}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card">
                <div class="card-header text-white" style="background-color: #292b2c">
                    <h5>Delete Province Details</h5>
                </div>
<div>
    
     <div class="card-body">
     <dl class="col">
        <dt class = "col-md-1">
           <label>Province :</label> 
        </dt>
        <dd class = "col-md-1">
            @Html.DisplayFor(model => model.ProvinceName)
        </dd>
        <dt class = "col-md-1">
        <label>Country :</label> 
        </dt>
        <dd class = "col-md-1">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
    </dl>
    
   
       <button type="submit"  class="btn btn-outline-dark" data-toggle="modal" style="width:150px;" data-target="#exampleModal"> Delete </button>
            
            <a asp-controller="Province" asp-action="Index" class="btn btn-outline-dark" style="width:150px;"> Cancel </a>
 
</div>
       </div>
                </div>
            </div>
             <div class="modal fade" id="exampleModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <h6 class="col-md-10"> 
                       Confirm Province Deletion
                    </h6>
                    </div>

                    <div class="modal-footer border-0">
                         <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
                        <div class="form-actions no-color">
                            <input type="submit" value="Confirm" class="btn btn-outline-dark" style="width:150px;"/> 
                            <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal" style="width:150px;">Close</button>
                        </div>
                              
    </form>
                    </div>

                </div>
            </div>
        </div>
 @section scripts{
   
    @if (ViewBag.Confirmation != null)
    {
        <script>



            $(function () {
                $("#exampleModal").modal("show");
            });


        </script>
    }
}
   