@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="header">
    <div id="headtext">
        Natuurlik is Awesome
    </div>
</div>
<div id="rectangleOne">
    Hello
</div>

 @section Scripts {
<script src="~/js/notifications.js"></script>
<link rel="stylesheet" href="~/css/prodcap.css" asp-append-version="true" />
 }
