@page
@model ResetPasswordConfirmationModel

@section account {
    <link href="@Url.Content("~/css/account.css")" rel="stylesheet" type="text/css" />
}

<div class="container" id="foremail">
    <div id="center">
        <h2 class="head" id="good">RESET PASSWORD CONFIRMATION</h2>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>



