
#alogout:hover {
    background-color: black;
    color: #3BDD74;
}

.log:hover {
    background-color: black;
    color: #3BDD74;
}

.one {
    color: white;
    margin-top: 10px;
    padding-left: 10px;
}

#two {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-family: Montserrat-Medium;
    font-size: 14px;
    background-color: black;
    border-color: #3A5627;
}

    #two:hover {
        background-color: white;
        color: #3A5627;
        border: 1px solid #3A5627;
    }

#four {
    float: right;
    margin-top: 10px;
}

#three {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}


#user {
    margin-right: 35px;
}


.mob {
    background-color: black;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    font-family: Montserrat-Regular;
}

.navbar {
    padding: 6px 5px;
    background-color: black;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 14px;
}

.btn {
    margin-right: 10px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed black;
    margin: 40px 0;
}



.dropdown-menu {
    background-color: #2c2e2a;
    color: white;
}

.dropdown-item:hover {
    color: black;
}

.dropdown-item {
    font-size: 12px;
}


.nav-item:hover {
    background-color: #F2F2F2;
    color: white;
}

#navbarSupportedContent {
    margin-left: 10px;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}


#sidebar {
    min-width: 250px;
    height: 100%;
    background: #F8F9FA;
    color: #232323;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
    z-index: 999;
    font-family: Montserrat-Medium;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background-color: black;
    color: white;
    padding-left: 20px;
}

.sidebar-header {
    padding-top: 15px;
    padding-bottom: 7px;
    height: 54px;
}


#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    font-family: Montserrat-Light;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 14px;
    display: block;
    font-family: Montserrat-Medium;
    padding-left: 15px;
}

    #sidebar ul li a:hover {
        color: #3BDD74;
        background: #F2F2F2;
    }

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: black;
    background: #DADADA;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 50px !important;
    background-color: white;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #3BDD74;
}

a.article,
a.article:hover {
    background: #3BDD74 !important;
    color: #fff !important;
}

.nav-item {
    color: white;
}

.nav-link {
    color: white;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}
