@font-face {
    font-family: "Montserrat-Black";
    src: local("Montserrat-Black"), url(../fonts/Montserrat-Black.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: local("Montserrat-ExtraBold"), url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: local("Montserrat-ExtraLight"), url(../fonts/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Light";
    src: local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Thin";
    src: local("Montserrat-Thin"), url(../fonts/Montserrat-Thin.ttf) format("truetype");
}
