@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
@*<partial name="_StatusMessage" for="StatusMessage" />*@
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        @TempData["success"]
    </div>
} 

<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed) 
            {
                <div class="form-floating" id="formspace">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control input-group" disabled />
                </div>
            }
            else
            {
                <div class="form-floating" id="formspace">
                    <input asp-for="Email" class="form-control" disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="form-floating" >
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />               
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary btn-block">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
     <script>
        $(document).ready(function () {
            $("#success-alert").hide();
            $("#success-alert").fadeTo(5000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
        </script>
}


@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@