
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert">
        @TempData["success"]

    </div>

}
 <div class="container-fluid">
     <div class="row justify-content-start">
            <div class="col-10 col-sm-10 col-md-10">
                    <h2 class="cheading">Products List</h2>
		        </div>
                <div class="col-md-9 col-lg-8">
                    <a asp-controller="Product" asp-action="Upsert" class="btn btn-success">
                       <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
			        </a>
                     <a asp-controller="ProductWriteOff" asp-action="WriteOff" class="btn btn-dark" >
               <i class="bi bi-x-circle"></i> &nbsp; Write-Off Product
			</a>
		        </div>
	        </div>
            <br /><br />

        <table class="table"  id="tblData"  style="background-color: #232323">
            <thead>
                <tr>
                    <th class="text-light">Name</th>
                    <th class="text-light">Description</th>
                    <th class="text-light">Customer Price</th>
                    <th class="text-light">Reseller Price</th>
                    <th class="text-light">Category</th>
                    <th class="text-light">Brand</th>
                    <th class="text-light">Action</th>
		        </tr>
	        </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/product.js"></script>
<<<<<<< HEAD
     <script src="~/js/notifications.js"></script>
 
=======
     <script>
      
        $(document).ready(function () {
            $("#success-alert").hide();
            $("#success-alert").fadeTo(5000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });

        });

        </script>
>>>>>>> Development
}