@model InventoryType

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">
<form method="post">
	  @if (ViewBag.Error == null)
        {
            <div>
                <div class="card">
            <div class="card-header" style="background-color: #F2F2F2">
                <h5>Create Inventory Type</h5>
            </div>
            <div class="card-body">
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="InventoryTypeName"></label>
			<input asp-for="InventoryTypeName" class="form-control" />
			<span asp-validation-for="InventoryTypeName" class="text-danger"></span>
		</div>
		
		<button type="submit" class="btn btn-success" data-toggle="modal" style="width:150px">Create</button>
		<a asp-controller="InventoryType" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
			Cancel
		</a>
	</div>
     </div>
        </div>
        }
	     <div class="modal" id="exampleModal1"  data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                 @*  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="b1">
                        <span aria-hidden="true">&times;</span>
                    </button>*@

                </div>
                <h6 class="col-md-10">
                   Inventory Item already exists
                </h6>

                <div class="modal-footer border-0">
                    <div class="form-actions no-color">
                        <input type="button" value="Okay" class="btn btn-outline-dark" data-bs-dismiss="modal" onclick="location.href='@Url.Action("Index", "InventoryType")'"/>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
</div>
@section Scripts{
	
	 
      @if (ViewBag.Error != null)
    {
        <script>



            $(function () {
                $("#exampleModal1").modal("show");
            });


        </script>
    
    }
}

