@model Supplier

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-content-wrapper">

<form method="post" asp-action="Create">
    <div>
    @if (ViewBag.Error == null)
    {
            
                <div class="card">
                    <div class="card-header" style="background-color: #F2F2F2">
                        <h5>Create Supplier</h5>
                    </div>
                    <div class="card-body">
                        @*<div asp-validation-summary="All"></div>*@

                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="CompanyName"></label>
                                <input asp-for="CompanyName" class="form-control" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="EmailAddress"></label>
                                <input asp-for="EmailAddress" class="form-control" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <br />

                        <div class ="row">
                            <div class="col-md-6">
                                <label asp-for="StreetAddress"></label>
                                <input asp-for="StreetAddress" class="form-control" />
                                <span asp-validation-for="StreetAddress" class="text-danger"></span>
                            </div>
                        </div>

                        <br />

                       <div class="row">
                            <div class="col-md-3">              
                                  <label asp-for="CountryId" class="control-label">Country Name</label>
                                    <select asp-for="CountryId" class ="form-control"  onchange="onCountryChange()" asp-items="ViewBag.CountryId">
                                         <option disabled selected>- Select Country -</option>
                                    </select>
                                
                            </div>
                            <div class="col-md-3">              
                              
                                    <label asp-for="ProvinceId" class="control-label">Province Name</label>
                                    <select asp-for="ProvinceId" class ="form-control" onchange="onProvinceChange()"></select>
                                
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-3">              
                                
                                    <label asp-for="CityId" class="control-label">City Name</label>
                                    <select asp-for="CityId" class ="form-control" onchange="onCityChange()"></select>
                                
                            </div>
                            <div class="col-md-3">              
                               
                                    <label asp-for="SuburbId" class="control-label">Suburb Name</label>
                                    <select asp-for="SuburbId" class ="form-control"></select>
                                
                            </div>
                            </div>

                        <br />
                        <br />

                        <button type="submit" class="btn btn-success" data-toggle="modal" style="width:150px">Create</button>
                        <a asp-controller="Supplier" asp-action="Index" class="btn btn-outline-dark" style="width:150px">
                            Cancel
                        </a>
                    </div>
                </div>
                }
            </div>
            <div class="modal fade" id="exampleModal1"  data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header  border-0">
                          @* <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" id="b1">
                                <span aria-hidden="true">&times;</span>
                            </button>*@ 

                        </div>
                          <h6 class="col-md-10">
                            Supplier Already Exists
                          </h6>
                        <div class="modal-footer  border-0">
                            <div class="form-actions no-color">
                                <input type="button" value="Okay" class="btn btn-outline-dark" data-bs-dismiss="modal"
                                onclick="location.href='@Url.Action("Index", "Supplier")'"/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>           
    </form>
</div>


<script>
        
    function onCountryChange()
    {
        if(!$('#CountryId').val())
        {
            $('#ProvinceId').html('');
                    options += '<option value="0" disabled >--Select Province--</option>';
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/User/GetProvince",
                data: { countryId: $('#CountryId').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#ProvinceId').html('');
                    options += '<option value="0" disabled >--Select Province--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#ProvinceId').append(options);

                    //Sets teh DDL to the placeholder value
                    $('#ProvinceId').val(0);
                    $('#provinceControl').attr('hidden',false);
                }
            });
        }
    }

    function onProvinceChange()
    {
        if(!$('#ProvinceId').val())
        {
            $('#cityControl').hide();
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/User/GetCity",
                data: { ProvinceId: $('#ProvinceId').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#CityId').html('');
                    options += '<option value="0" disabled >--Select City--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#CityId').append(options);

                    //Sets teh DDL to the placeholder value
                    $('#CityId').val(0);
                    $('#cityControl').attr('hidden',false);
                }
            });
        }
    }

    function onCityChange()
    {
        if(!$('#CityId').val())
        {
            $('#suburbControl').hide();
        }
        else
        {
            $.ajax({
                type: "GET",
                url: "/User/GetSuburb",
                data: { CityId: $('#CityId').val() },
                datatype: "json",
                success: function (data) {
                    var options = '';
                    $('#SuburbId').html('');
                    options += '<option value="0" disabled >--Select Suburb--</option>';

                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        options += '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                    $('#SuburbId').append(options);

                    //Sets the DDL to the placeholder value
                    $('#SuburbId').val();
                    $('#suburbControl').attr('hidden',false);
                }
            });
        }
    }
        
    </script>

@section Scripts{
	
	 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
      @if (ViewBag.Error != null)
    {
        <script>

            $(function () {
                $("#exampleModal1").modal("show");
            });
        </script>
    
    }
}
