@inject NavigationManager NavigationManager


@if (Product != null)
{
    <tr>
        <td>@Product.Name</td>
        <td>@Product.QuantityOnHand</td>
       
        <td>
            <button type="submit" class="btn btn-light" @onclick="@(()=> ConfigureProduct(Product.Id))">Configure Inventories</button>
           
            
        </td>
    </tr>    
}


@code {

    [Parameter]
    public Product? Product { get; set; }

    [Parameter]
    public EventCallback OnPageLoad { get; set; }

    private void ConfigureProduct(int productId)
    {
        NavigationManager.NavigateTo($"ConfigureProduct/{productId}", true);
    }


}
