@page "/products"
@using NatuurlikBase.Components
@using NatuurlikBase.Repository.IRepository



@inject NavigationManager NavigationManager
@inject IViewProductsByName ViewProductsByName


@code {
      private async Task LoadProducts()
    {
        var prods = await ViewProductsByName.ExecuteSearchAsync();
        this.productsList = prods.ToList();
    }
}

<h3>Products List</h3>
<br/>

<ViewProductsComponent OnSearchProducts="OnSearchProducts"></ViewProductsComponent>
<br />

@if (productsList != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in this.productsList)
            {
                <ProductItemComponent 
                    Product="product"
                    OnPageLoad="OnPageLoad"></ProductItemComponent>
            }
        </tbody>
    </table>    
}
<br/>
@*<button type="button" class="btn btn-primary" @onclick="OnBack">Back</button>
*@

@code {
    private List<Product>? productsList;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private void OnSearchProducts(List<Product> products)
    {
        this.productsList = products;
    }

    private void OnBack()
    {
        NavigationManager.NavigateTo("/Dashboard");
    }

    private async Task OnPageLoad()
    {
        await LoadProducts();
    }

}
