@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"> Your Order has been placed successfully!</h1>
        <label> Order Reference No: @Model </label>
    </div>

</div>