@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"> Your Order has been placed successfully! Please check your status soon 
            to see whether Natuurlik staff accepted your order.
        </h1>
        <label> Order Reference #: @Model </label>
    </div>

</div>