@using NatuurlikBase.Pages

<div id="page-content-wrapper">

<component type="typeof(ConfigureProduct)" render-mode="ServerPrerendered" />
</div>

@section Scripts {
<script src="~/js/user.js"></script>
<script src="_framework/blazor.server.js"></script> 
}
